# Dependencies
/node_modules
/package-lock.json
/yarn.lock

# Build artifacts (Vite/Bundlers)
/dist
/build
.vite/

# SonarQube Artifacts
/.scannerwork
.sonar_lock
sonar-project.properties  # ¡Importante! Si contiene el token de seguridad.

# IDE/Editor (VS Code)
.vscode/

# Logs and misc
npm-debug.log*
yarn-debug.log*